<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>

<body>
	<h1>Produtos</h1>
	<hr>
	<table id="example" class="display" style="width:100%">
		<thead>
			<th>Produto</th>
			<th>Data de inserção na loja</th>
			<th>Total de vendas</th>
		</thead>
	</table>

	<script src="//code.jquery.com/jquery-3.5.1.js"></script>
	<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script language="javascript">
		$(document).ready(function() {
			$('#example').DataTable( {
				"ajax": {
					"url": "/dados/",
					"dataSrc": "dados"
				},
				"deferRender": true,
				"columns": [
					{ "data": "product_url" },
					{ "data": "product_url_created_at" },
					{ "data": "total" }
				]
			} );
		} );
	</script>
</body>

</html>